html {
  scroll-behavior: smooth !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

main {
  flex: 1 1 fit-content;
}

.sub-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  /* height: 20vh; */
  /* gap: 5px; */
  justify-content: space-between;
  align-items: center;
  /* padding: 19.2px 0; */
  /* flex: 1 1 20vh; */
  margin: 0 17px;
  padding: 0 20px;
}
footer {
  flex: 1 1 70vh;

  background-color: rgb(255 184 0);
}

h1 {
  font-size: 4.8rem;
  font-weight: 800;
}

h2 {
  font-size: 2.4rem;
  font-weight: 400;
}

.hamburger {
  display: none;
  transition: all 2 ease-in-out;
}
.new-nav {
  display: none;
}
.modify-nav {
  display: flex;
  flex-direction: column;
  background-color: #ffda94bd;
  align-items: center;
  justify-content: center;
  /* height: 300px; */
  gap: 67px;
  /* margin-top: 15px; */
  padding: 37px;
  margin: 20px 100px 30px 100px;
  border-radius: 57px;
  /* border: 2px solid #f9cd7cbd; */
}


@media only screen and (min-width: 1408px) {
  nav {
    /* background-color: red; */
    padding: 80px 20px;
  }
}
@media only screen and (min-width: 1216px) and (max-width: 1408px) {
  nav {
    /* background-color: blue; */
    margin: 0px;
    /* padding: 80px 20px; */
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1215px) {
  nav {
    /* background-color: yellow; */
    margin: 0px;
    /* padding: 80px 60px; */
  }
}



@media only screen  and (min-width: 230px)and (max-width: 1024px) {
  .hamburger {
    display: block;
  }

  .sub-nav {
    display: none;
  }
  .open {
    display: block;
    cursor: pointer;
  }
  .close {
    display: none;
    cursor: pointer;
  }
  nav {
    /* background-color: yellow; */
    margin: 0px;
    /* padding: 80px 30px; */
  }
 
}

@media only screen and (min-width: 100px) and (max-width: 230px){
  .hamburger {
    display: block;
    /* background-color: aqua; */
  }

  .sub-nav {
    display: none;
  }
  .open {
    display: block;
    cursor: pointer;
  }
  .close {
    display: none;
    cursor: pointer;
  }
  nav{
    gap: 27vw;
    /* background-color: blue; */
    justify-content:flex-start;
    align-items: center;    margin-bottom: 47px;
  }
  .hamburger img{
    width: 55px;
    height: 55px;
  }
  
  }