html {
  scroll-behavior: smooth !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

main {
  flex: 1 1 fit-content;
}

.sub-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  /* height: 20vh; */
  /* gap: 5px; */
  justify-content: space-between;
  align-items: center;
  /* padding: 19.2px 0; */
  /* flex: 1 1 20vh; */
  margin: 0 17px;
  padding: 0 20px;
}
footer {
  /* flex: 1 1 70vh; */

  background-color: rgb(255 184 0);
}

h1 {
  font-size: 4.8rem;
  font-weight: 800;
}

h2 {
  font-size: 2.4rem;
  font-weight: 400;
}

.hamburger {
  display: none;
  
}



.modify-nav {
  display: flex;
  flex-direction: column;
  background-color: #ffda94bd;
  align-items: center;
  justify-content: center;
  /* height: 300px; */
  gap: 67px;
  /* margin-top: 15px; */
  padding: 37px;
  margin: 20px 100px 30px 100px;
  border-radius: 57px;
  /* border: 2px solid #f9cd7cbd; */
  
  
}

.cta {
  background-image: linear-gradient(#b6400f, #822d07);
  margin: 0 auto;
  padding: 56px 20px;
  /* border: 5px green solid; */
  margin-top: -57px;
  border-radius: 27px;
  /* height: 20vh; */
  width: 80vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.cta h1 {
  font-size: 3.2rem;
  font-weight: 500;
}
.cta h2 {
  font-size: 1.8rem;
  font-weight: 500;
}


.svg_logo {
  margin: 0px 4px;
}




.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 24px;
  flex-direction: column;
}
.logo {
  margin-top: -1.7rem;
}
.quote {
  margin-top: -7.7rem;
}
.quote h2 {
  font-size: 2rem;
  line-height: 2.7rem;
  color: white;
  font-weight: 700;
}

.social_logo {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  border-radius: 7px;

  height: 5rem;
  width: 20rem;
  margin-top: 17px;
  gap: 10px;
}

.copyright {
  margin-top: 17px;
}
.close {
  display: none;
  
}
.copyright h1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
  color: white;
  text-align: center;
}



.notification{
  background-color: red;
  /* height: 70px; */
  /* width: 70vw; */
  margin: 0 auto;
  /* margin: 20px 40px; */
  margin-bottom: 37px;
text-align: center;
padding: 10px 60px;
  border-radius: 30px;
  /* display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; */

}

.danger{
  background-color:#FF9494;
}
.success{
  background-color:#4BB543;
}

.anim{
  animation-name: slow_close;
  animation-duration: 10s;
  animation-timing-function: linear;
  /* animation-delay: 2s; */
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  /* animation-direction: alternate;
  animation:  5s ease-in-out  1 forwards; */

}

@keyframes slow_close {
  0%{
    opacity: 1;
    color: rgb(23, 18, 4);
  }
  25%{
    opacity: 0.9;
    color: rgb(79, 4, 84);
  }
  50%{
    opacity: 0.7;
    color: rgb(255, 1, 1);
  }
  75%{
    opacity: 0.5;
    color: #822d07;
  }
  100%{
    opacity: 0;
    color: rgb(255, 128, 1);
  }
  
}


@media only screen and (min-width: 1408px) {
  nav {
    /* background-color: red; */
    padding: 80px 20px;
  }
}
@media only screen and (min-width: 1216px) and (max-width: 1408px) {
  nav {
    /* background-color: blue; */
    margin: 0px;
    /* padding: 80px 20px; */
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1215px) {
  nav {
    /* background-color: yellow; */
    margin: 0px;
    /* padding: 80px 60px; */
  }
  .cta h1 {
    font-size: 2.7rem;
  }
  .cta h2 {
    font-size: 1.7rem;
  }.quote h2 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 949px) and (max-width: 1024px) {
  .cta h1 {
    font-size: 2.6rem;
  }.cta h2 {
    font-size: 1.6rem;
  }
}



@media only screen and (min-width: 799px) and (max-width: 949px){
  .cta {
    width: 95vw;
    gap: 17px;

  }.cta h1{
    font-size: 2.4rem;
  }
  .cta h2 {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 569px) and (max-width: 799px){
  .cta {
    width: 80vw;
    flex-direction: column;
    gap: 50px;
    padding: 25px 20px;
  }.cta h1 {
    font-size: 3rem;
    padding-right: 20px;
  }
  .cta h2 {
    font-size: 2rem;
  }
.quote h2{
  font-size: 1.8rem;
}
.quote {
  margin-bottom: 12.7px;
  margin-top: -95.5px;

}
}

@media only screen and (min-width: 300px) and (max-width: 569px){
  .cta {
    width: 70vw;
    flex-direction: column;
    gap: 50px;
    padding: 25px 20px;
  }.cta h1 {
    font-size: 3rem;
    padding-right: 20px;
  }
  .cta h2 {
    font-size: 2rem;
  }
.quote h2{
  font-size: 1.8rem;
}
.quote {
  margin-bottom: 12.7px;
  margin-top: -95.5px;

}
}

@media only screen and (min-width: 230px) and (max-width: 300px){
  .cta {
    width:270px;
    flex-direction: column;
    gap: 40px;
    padding: 25px 20px;
  }.cta h1 {
    font-size: 2rem;
    padding-right: 20px;
  }
  .cta h2 {
    font-size: 1.5rem;
  }
}

@media only screen  and (min-width: 230px)and (max-width: 1024px) {
  .hamburger {
    display: block;
  }

  .sub-nav {
    display: none;
  }

  
  nav {
    /* background-color: yellow; */
    margin: 0px;
    /* padding: 80px 30px; */
  }
 
}

@media only screen and (min-width: 100px) and (max-width: 230px){
  .hamburger {
    display: block;
    /* background-color: aqua; */
  }

  .sub-nav {
    display: none;
  }
  .open {
    display: block;
    cursor: pointer;
  }
  .close {
    display: none;
    cursor: pointer;
  }
  nav{
    gap: 27vw;
    /* background-color: blue; */
    justify-content:flex-start;
    align-items: center;    margin-bottom: 47px;
  }
  .hamburger img{
    width: 55px;
    height: 55px;
  }
  .cta {
    width:270px;
    flex-direction: column;
    gap: 40px;
    padding: 25px 20px;
  }.cta h1 {
    font-size: 2rem;
    padding-right: 20px;
  }
  .cta h2 {
    font-size: 1.5rem;
  }
  }