.hd1 {
  display: flex;
  flex-direction: column;
  padding: 48px;
}

.sub_container {
  margin: 0 3.6rem;
}

.header_style {
  padding-top: 32px;
}

.hd1 h1 {
  text-align: center;
  color: #fc9152;
  margin-bottom: 1.5rem;
}

.hd1 h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.profile_img {
  margin: 3.2rem 0;

  align-self: center;
  justify-self: center;
}
.coding_img {
  display: block;
  margin: 0 auto;
}

.about {
  background-color: rgb(255, 149, 0);
  /* height: 75vh; */
  padding: 144px 72px 288px 72px;
}
.sec1 {
  padding: 0 24px;
}

.outside_container {
  margin: -40px;
}

.about_container {
  padding: 7px;
}

.about_container h1 {
  color: white;
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 24px;
}

.about_container h2 {
  color: white;
  font-size: 2rem;
  text-align: center;
  line-height: 3rem;
  font-weight: 450;
}
.about_container h2 strong {
  font-size: 2rem;
}
.about_container strong a {
  display: inline-block;
  font-size: 2rem;
  color: #7e0505;
  text-decoration: none;
  cursor: pointer;
  font-weight: 550;
  text-align: center;
  margin: 0 auto;
}
.about_container a:hover {
  text-decoration: underline #fc1900 solid 2px;
}
.about_text {
  margin-bottom: 4rem;
}
.skill {
  background-color: white;
  box-shadow: -2px -4px 10px 7px rgb(0 0 0 / 20%);
  margin: 0 40px;
  padding: 80px 24px 147px 24px;
  margin-top: -100px;
  border-radius: 47px;
  margin-bottom: 270px;
  display: flex;
  justify-content: space-around;
}

.skill h1 {
  font-size: 3.2rem;
  font-weight: 500;
  text-align: center;
}

.separator {
  /* height: 70vh; */
  background-color: #006939;
  /* width: 10px; */
  border: 0.2px solid #006939;
  border-radius: 9999px;
}

.gallery {
  margin-top: 50px;
  padding: 5px 77px;
  display: flex;
  gap: 70px;
  /* flex-direction: row-reverse; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gallery img {
  width: 65px;
  height: 65px;
  cursor: pointer;
  box-shadow: 0px 0px 4px 4px rgb(0 0 0 / 20%);
}

.about_container a {
  display: block;
  font-size: 2rem;
  color: #7e0505;
  text-decoration: none;
  cursor: pointer;
  font-weight: 550;
  text-align: center;
  margin: 0 auto;
}

.cta {
  background-image: linear-gradient(#b6400f, #822d07);
  margin: 0 auto;
  padding: 56px 20px;
  /* border: 5px green solid; */
  margin-top: -57px;
  border-radius: 27px;
  /* height: 20vh; */
  width: 80vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.cta h1 {
  font-size: 3.2rem;
  font-weight: 500;
}
.cta h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.svg_logo {
  margin: 0px 4px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 24px;
  flex-direction: column;
}
.logo {
  margin-top: -1.7rem;
}
.quote {
  margin-top: -7.7rem;
}
.quote h2 {
  font-size: 2rem;
  line-height: 2.7rem;
  color: white;
  font-weight: 700;
}

.social_logo {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  border-radius: 7px;

  height: 5rem;
  width: 20rem;
  margin-top: 17px;
  gap: 10px;
}

.copyright {
  margin-top: 17px;
}

.copyright h1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
  color: white;
  text-align: center;
}

@media only screen and (min-width: 1024px) and (max-width: 1214px) {
  
  .about_container h1 {
    font-size: 3rem;
  }
  .about_container h2 {
    font-size: 1.8rem;
  }
  .about_text strong a {
    font-size: 1.8rem;
  }
  
}

@media only screen and (min-width: 949px) and (max-width: 1024px) {
 
  .skill{
    margin-top: -180px;
  }
  
  .hd1 h1 {
    font-size: 4rem;
  }
  .hd1 h2 {
    font-size: 2.2rem;
  }
  .about_text {
    margin-bottom: 2rem;
  }
  .about_container {
    padding: 0px;
  }
  .skill h1 {
    font-size: 3rem;
  }
  .gallery {
    gap: 50px;
  }
}

@media only screen and (min-width: 799px) and (max-width: 949px) {
  
  .skill{
    margin-top: -180px;
  }
  
  .hd1 h1 {
    font-size: 4rem;
  }
  .hd1 h2 {
    font-size: 2.2rem;
  }
  .about_text {
    margin-bottom: 2rem;
  }
  .about_container {
    padding: 0px;
  }
  .skill h1 {
    font-size: 3rem;
  }
  .gallery {
    gap: 50px;
  }
}


@media only screen and (min-width: 569px) and (max-width: 799px){
  .about_text {
    margin-bottom: 1.5rem;
    padding: 0;
  }
  .skill{
    margin-top: -180px;
  }
  .skill h1 {
    
    font-size: 3rem;
  }.gallery {
    gap: 50px;
  }
  
}

@media only screen and (min-width: 300px) and (max-width: 569px){
  .about_text {
    margin-bottom: 1.5rem;
    padding: 0;
  }
  .skill{
    margin-top: -180px;
  }
  .skill h1 {
    
    font-size: 3rem;
  }.gallery {
    gap: 50px;
  }
  

}
@media only screen and (min-width: 230px) and (max-width: 300px){
  .about{
    padding: 144px 72px 208px 72px;
  }
  .gallery{
    gap: 60px;
  }
  
}

@media only screen and (min-width: 100px) and (max-width: 230px){
  .about_text h2{
    font-size: 1.8rem;word-wrap: break-word;
  }
  .hd1{
    padding: 12px;flex-wrap: wrap;
  }
  .hd1 h1{
    display: inline-block;
    font-size: 3.2rem;
    line-height: 36px;
    word-break: break-word;
    text-align: center;
    width: 387px;
  }
  .hd1 h2{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
  text-align: center;
    font-size: 2rem;
    word-break: break-word;
    line-height: 30px;display: inline-block;    width: 387px;
    /* margin: 0 auto; */
    /* word-wrap: break-word; */
  }
  .hd1 img{
    margin: 2rem 0;
    width: 150px;
    align-self: baseline;
    margin: 0 117px;
    
  }
  .sub_container img{
    margin-bottom: -0.4rem;
    height: auto;
    width: 317px;
  }
  .about{
    width: 437px;
  }
  .about_container h1{
    margin-bottom: 1.5rem;font-size: 2.4rem;
  }
  .about_text{
    margin-top: 27px;
  }
  
  .skill{
    background-color: white;
    box-shadow: -2px -4px 10px 7px rgb(0 0 0 / 20%);
    margin: 0 10px;
    padding: 80px 24px 9px 24px;
    margin-top: -100px;
    border-radius: 47px;
    margin-bottom: 270px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}